<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

    a {
      text-decoration-color: blue; 
      opacity: 0.8
    }

    a:hover {
      opacity: 1;
      text-decoration: underline;    
    }

    </style>
  </head>
  <body>
    <h1>Salut <%= @user.name %> et bienvenue chez nous !</h1>
    <p>
    Tu t'es inscrit sur where-is-my-book en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
      Pour emprunter des livres ou en préter n'attend plus ! Et fonce pour discuter 
      avec la communauté sur <%= link_to @url, @url %>
    <p>
    Pour accéder à ton espace client, connecte-toi via : <%= link_to @url_login, @url_login  %>.
    </p>
    <p> À très vite sur where-is-my-book.com !
  </body>
</html>
