<div class="book-list">
      <!-- If Else Rails starts here -->
    <div class="one-third column" >
      <div class="card card-list card-item">
        <div class="book-index">
          <div class="u-pull-right book-name"><h6">@</h6>
          <p>Author</p>
          <p>ISBN</p>
          <button class="button-success">Détails</button>
          <button class="button-primary">Critique</button></div>
        <img src="images/book1.jpg" class="book-img">
        </div>
    </div>
  </div>
  <!-- If Else ends here -->
</div> <!-- Row end-->
</div> 