<div class="row">
  <div class="six columns"></div>
  <div class="three columns">
    <select id="GetChoice" class="select-text">
      <option >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
        Trier par style de lecture &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      </option>
      <option >Enfant</option>
      <option >Fiction</option>
      <option >Historique</option>
      <option >Bandes-Dessinées</option>
      <option >Philosophie</option>
      <option >Loisirs</option>
    </select>
  </div>
  <div class="three columns">
    <input type="button", value="trier" onclick="GetSelectedTextValue()" class="button button-select-genre" />
  </div>
</div>
<br>  

<div class="container">
  <% @own_books.each do |own_book|%>
    <%= render "own_book", own_book: own_book %>
  <%end%>
</div>
