<p id="notice"><%= notice %></p>
<div class="container">
  <%= link_to 'Ajouter un livre à ma bibliothèque', new_book_path, class:"button button-success" %>
  <br>
  <div class="book-container">
    <h2 class="text-upp u-text-center">Tous les livres</h2>
    <hr>
    <div class="row">
      
      <%= render "indexownbook"%>

    </div>
  </div>
</div>
