<div class="container">
  <br>
  <div class="book-container">
    <h2 class="text-upp u-text-center">Résultat de la recherche</h2> 
    <hr>
    <div class="row">

      <%= render "indexownbook"%>

    </div>
  </div>
</div>
