  <div class="book-container">
  <div class="row">
    <div class="three columns" >
      <div class="card user-profile">
        <div class="avatar"></div>
        <div class="buttons">
        <button class="first-button button-success u-full-width">Contacter</button></div>
        <h6 class="username">Nom Prenom / Pseudo</h6>
        <p class="user-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
    </div>