<h2 class="u-text-center text-upp">Editer mon profil</h2>

<%= render 'form', user: @user %>

<%= link_to "Retour au profil", @user, class:"button button-success" %>

<%= link_to "Retour à l'index des livres", own_books_path, class:"button u-pull-right" %>
