<body>

<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contactez-nous !</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Une question ? Une interrogation ? Une suggestion ? La parole est à vous !</p>

<%= render 'form' %>

</section>

</body>