<!DOCTYPE html>
<html>
<head></head>
<body class="bg-light">
  <br>
  <div class="container">
    <div class="card border-primary mb-3" style="max-width: 60rem;">
      <div class="card-body">
        <h4 class="card-title">Vous avez un nouveau message</h4> <br>
        <p class="card-text"><strong>Nom</strong> <%= @contact.name%></p>
        <p class="card-text"><strong>Adresse mail</strong> <%= @contact.email%></p>
        <p class="card-text"><strong>Objet</strong> <%= @contact.object%></p>
        <p class="card-text"><strong>Message</strong> <%= @contact.message%></p>
      </div>
    </div>
  </div>
</body>
</html>



