<div class="container">
  <br>
  <div class="book-container">
    <h2 class="text-upp u-text-center">Résultat de la recherche</h2> 
<div class="container">
 <hr class="hr-index">

      <%= render "own_books/indexownbook"%>

    </div>
  </div>
</div>
