html {
  scroll-behavior: smooth;
}


.navbar {
  width: 100%;
  background-color: #489FB5;
  height: 135px;
  margin-left: -8px;
  margin-bottom: 5%;
}

.arrow:hover {
  background-color: transparent;
}

.hamburger {
  position:  relative;
  height: -25px;
  margin-top: 45px;
  color:  #16697A;
  font-size:  xx-large;
  margin-left: 10px;
}

.polygon-navbar {
  position: absolute;
  margin-top: 97px;
}

.dropdown {
 position: absolute;
 margin-left: -10%;
}

.dropdown-content {
  display: none;
  background-color: #489FB5;
  min-width: 160px;
  z-index: 1;
  padding: 12px 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 85%;
}

li {
  list-style: none;
  text-align: center;

}
a.link:hover {
  background-color: transparent;
  color: #EDE7E3;
}

.dropdown:hover .dropdown-content {
  display: block;
}


input.placeholder {
  font-family: Futura Now Headline;
}

input.u-full-width {
  border: none;
}

footer {
  background-color: #489FB5;
  height: 135px;
  width: 100%;
  margin-top:5%;
}

.logo-footer {
  width: 10%;
  margin-top: 60px;
  margin-left: -60px;
}

.polygon-footer {
  margin-top: -1px;
  margin-left: -45%;
}

.text-dark {
  color: #073131;
}
.text-light {
  color: #EDE7E3;
}

.text-success {
  color: #FFA62B;
}

.text-info {
  color: #489FB5;
}

.titlepage {
  max-width: 1920px;
  max-height: 1080px;
}

.headtitle {
  display: block;

}
p.rights {
  text-align: center;
}

.man-reading {
  display: block;
  margin: auto;
  width:100px;
}

.about2 {
  text-align: right;
}

.woman-reading {
  display: block;
  margin: auto;
  width:100px;
}

.transformation {
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {bottom:25px; top:0px;}
  25%  {bottom:25px; top:0px;}
  50%  {bottom:25px; top:25px;}
  75%  {bottom:25px; top:25px;}
  100% {bottom:0px; top:0px;}
}

.user-profile {
  max-width: 300px;
  min-height: 1500px;
  background: #82C0CC;
  margin-left: 20%;
  margin-top: 10%;
}
.username {
  text-align: center;
}

.user-description {
  text-align: justify;
}

.first-button {
  margin-top: 10px;
}

.book-img {
  width:20%;
}

.book-name {
  text-align: center;
}

.book-container {
  margin-top:50px;
  width:100%;
}


.card-item {
 width: 500px;
}

.card-list {
  border:none;
  box-shadow: none;
  padding-right:20%;
}
.book-description {
  padding-left: 15%;
}

.text-upp {
  text-transform: uppercase;
}

.subtitle {
  margin-top: 200px;
}

.a-footer {
  text-decoration: none;
  
}

.a-footer:hover {
  background-color: transparent;
  color: #EDE7E3;
}

.a-footer:active {
  color: #EDE7E3;
}
.a-footer:visited {
  color: #EDE7E3;
}

.logo-mail {
  display: block;
  width:100px;
}






/* PrivateMessage 



 .ul {
    padding-left: 0px;
    list-style: none;
  }

  */ 

  .messages-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  
  .message-sent {
    position: relative;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin: 5px 20px;
    padding: 10px;
    float: right;
  }
  
  
  .message-received {
    background-color: #F1F0F0;
    border-color: #EEEEEE;
    margin: 5px 20px;
    padding: 10px;
    float: left;
  }