.navbar {
  background-color: #489FB5;
  height: 135px;
  margin-bottom:5%;
}
.hamburger {
  width: 25%;
  position: absolute;
  height: -25px;
  margin-top: 45px;
  color:  #16697A;
  font-size:  xx-large;
  margin-left: 10px;
}

.polygon-navbar {
  position: absolute;
  margin-top: 97px;
}

.dropdown {
 position: relative;
 margin-left: -10%;
}

.dropdown-content {
  display: none;
  background-color: #489FB5;
  min-width: 160px;
  z-index: 1;
  padding: 12px 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 85%;
}

li {
  list-style: none;
  text-align: center;

}
a.link {
  text-decoration: none;
  color: #EDE7E3;
}

a.link:hover {
  background-color: transparent;
  color: #EDE7E3;
}
a.link-index {
  text-decoration: none;
  color: #16697A;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
}

/* Text-Decoration and Formatting Fonts */

h2 {
  font-family: Futura;
  letter-spacing: 1px;
  color:#16697A;
}
.text-dark {
  color: #073131;
}
.text-light {
  color: #EDE7E3;
}

.text-success {
  color: #FFA62B;
}

.text-info {
  color: #489FB5;
}

.text-info:hover {
  color: #489FB5;
}

.text-footer {
  letter-spacing: 1px;
  max-width: 100%;
}

.text-bold {
  font-weight: 600;
  letter-spacing: 1px;
}
.text-upp {
  text-transform: uppercase;
}

.subtitle {
  margin-top: 200px;
}

input.placeholder {
  font-family: Futura Now Headline;
}

input.u-full-width {
  border: none;
}
.button-info-full {
  background-color: #EDE7E3;
}


/* Footer Styling */

footer {
  background-color: #489FB5;
  height: 135px;
}

.logo-footer {
  width: 10%;
  margin-top: 60px;
  margin-left: -60px;
}

.polygon-footer {
  margin-top: -1px;
  margin-left: -45%;
}

.a-footer {
  text-decoration: none;
  
}

.a-footer:hover {
  background-color: transparent;
  color: #EDE7E3;
}

.a-footer:active {
  color: #EDE7E3;
}
.a-footer:visited {
  color: #EDE7E3;
}

/* ---- */

/* Titlepage and Homepage Positionning and Style */

.titlepage {
  max-width: 1920px;
  max-height: 1080px;
}

.headtitle {
  width: fit-content;
  max-width: max-content;
  display: block;
  margin-top:10%;
  margin-left:auto;
  margin-right:auto;
 }
p.rights {
  text-align: center;
}

.man-reading {
  display: block;
  margin: auto;
  width:100px;
}

.about-btn {
  margin-top: 50px;
  margin-bottom: 100px;
}

.about2 {
  text-align: right;
}

.woman-reading {
  display: block;
  margin: auto;
  width:100px;
}

.arrow {
  position: absolute;
  margin-top: 10%;
  display: inline-block;
  left:45%;
}
.arrow:hover {
  background-color: transparent;
}

.transformation {
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {bottom:25px; top:0px;}
  25%  {bottom:25px; top:0px;}
  50%  {bottom:25px; top:25px;}
  75%  {bottom:25px; top:25px;}
  100% {bottom:0px; top:0px;}
}

/* ----- */

/* UserProfile Styling and Positionning */

.user-profile {
  max-width: 300px;
  min-height: 1500px;
  background: #82C0CC;
  margin-left: 20%;
  margin-top: 10%;
}

.profile-text {
  text-decoration: underline;
}

.avatar {
  max-width: 300px;
  background-color:#16697A;
  margin: auto;
  object-fit: cover;
}

.username {
  text-align: center;
  font-size: 2rem;
}

.user-description {
  text-align: justify;
}

.first-button {
  margin-top: 10px;
}
/* Link to Google Maps in user profile */
.city-link {
  color:#073131;
  text-decoration: none;
}
.city-link:hover {
  color:#073131;
}

.city-link:visited {
  color:#073131;
}

/* --------- */

/* Current User Books  Styling */
.book-img {
  width:20%;
}

.book-name {
  text-align: center;
}

.book-container {
  margin-top:50px;
  width:100%;
}
.book-img-list {
  width:10%;
  max-height: 150px;
  margin-right:5%;
  object-fit: cover;
}

.card-item {
 width: 500px;
}

.card-list {
  border:none;
  box-shadow: none;
  padding-right:20%;
}

.card-search {
  border:none;
  box-shadow: none;
}

.book-description {
  padding-left: 15%;
}

/* ------ */

/* Styling Logo in Mail */

.logo-mail {
  display: block;
  width:100px;
}
/* ------------ */

/* Select Genre Button Js */
.button-select-genre {
  min-width: 11rem;
  }

.select-text {
    opacity: .7;
  }
  
 /* ----- */

/* Delete Profile Button */
  .bigger-anim {
    transform: scale(1);
  }
  
  .bigger-anim:hover {
    background-color: #FFA62B;
    /*  Making button bigger on hover  */
    transition: all .5s ease;
      transform: scale(1.5) perspective(1px);
  }
  
  .smaller-anim:hover {
    background-color: #FFA62B;
    /*  Making button bigger on hover  */
    transition: all .5s ease;
      transform: scale(.5) perspective(1px);
  }
/* ------- */


/* Cookies Consent */


/* main div */
.cookies-eu {
  height: 200px;
  width: 400px;
  left:2.5rem;
  bottom: 25px;
  background-color: #EDE7E3;
  box-shadow: 0px 2px 5px #16697A;
  border-radius: 1rem;
  }
  
  /* Button Cookies */
  .cookies-eu .cookies-eu-button-holder .cookies-eu-ok {
    background-color: #489FB5;
    height: 2.5rem;
    margin-top: 1rem;
    padding: 1em 2em 2em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  
  .cookies-img {
   position: absolute;
   left: 21rem;
   bottom: 8rem;
    height:150px;
  }

  /* ------ */

/* Styling Button Book loaned page */

.card-loan {
    border:none;
    box-shadow: none;
  }

  /* --------- */




/* STATIC TEAM PAGE PART */



.body_team {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_team {
  display: flex;
}

.cardteam {
  margin: 1rem;
  width: 300px;
  height: 640px;
  padding: .5rem 1rem;
  background-color: #82C0CC;
  border-radius: 5rem;
  box-shadow: 0 12px 32px 4px rgba(black, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.cardteam:hover {
  transform: translateY(-5px);
}


.desc {
  text-align: center;
}

fieldset {
  overflow: hidden
}

.inline {
  float: left;
  clear: none;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}
.imageround {
  width: 250px;
  height: 300px;
  border: 1px solid #16697A;
  border-radius: .5rem;
  padding: 7px;
  object-fit: cover;
}

/* KEYFRAMES PART */


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


/* END OF MODAL PART */
