br>
<div class="card border-primary" style="max-width: 50rem; background-color: #489FB5;">

  <div class="card-item">
    <h4>Bonjour <%= @resource.email %> !</h4>

    <p>Quelqu'un a demandé un lien pour changer votre mot de passe. Vous pouvez le faire via le lien ci-dessous.</p>

    <p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>Si vous ne l'avez pas demandé, veuillez ignorer cet e-mail.</p>
    <p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus et créé un nouveau.</p>

    <p> À très vite sur <%= link_to "where-is-my-book.com", @url, class:"link" %> !</p>
    <img src="https://res.cloudinary.com/dcmcouvju/image/upload/v1624268441/LOGO_dt3bob.png" alt="logo WhereIsMyBook" class="logo-mail">
  </div>
</div>
