    <div class="u-full-width footer navbar">
      <div class="row">
        <div class="one column"></div>
        <div class="nine columns"><a href="#"><%=image_tag "LOGO.svg",class:"logo-footer"%></a></div>
        <div class="two columns"><%=image_tag "Vector.png",class:"polygon-footer"%><br /><br /><p class="text-light">Tout droits réservés</p></div>
        </div>
      </div>
